@model ICollection<Post>
    @{
        ViewData["Title"] = "Cadastro";
    }
    
    <h2>Listagem de Posts</h2>

    <form asp-controller="Post" asp-action="Lista" method="GET">
      <fieldset>
          <legend>Filtros</legend>
          <p style="float:left; margin-right:10px;">Termo: <input type="text" name="q" /></p>
          <p>Ordenação: 
              <select name="ordem">
                  <option value="t">Título</option>
                  <option value="d">Data</option>
              </select> 
          </p>
          <input type="submit" value="buscar" />
      </fieldset>
  </form>

  <br/>
    
    @if(Model != null)
    {
    <table id="tblPosts">
        <thead>
            <tr>
                <th>Título</th>
                <th>Data</th>
                <th>Nº de comentários</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Post item in Model)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@item.Data</td>
                    <td>@(item.Comentarios == null ? 0 : item.Comentarios.Count)</td>
                    <td><a href="/Post/Editar?id=@item.Id">Editar</a> | <a href="/Post/Excluir?id=@item.Id">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
    }